[Desktop Entry]
Comment=
Terminal=false
Name=Keep
Exec=/path/to/app/GoogleKeepDesktop
Type=Application
Icon=/path/to/app/resources/app/build/icon.png
